@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #0B1D26;
    --text-color: #FFFFFF;
    --accent-color: #FBD784;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: var(--text-color);
    background: var(--bg-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

h1 {
    font-size: 88px;
    font-weight: 600;
    line-height: 100px;
}

h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
}

.accent-color {
    color: var(--accent-color);
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 80px;
}

.header__logo {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 3px;
}

nav {
    display: flex;
    gap: 27px;
}

.header__account {
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.header__hero {
    max-width: 950px;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.pre-header {
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--accent-color);
    display: flex;
    gap: 32px;
    align-items: center;
}

.pre-line {
    display: inline-block;
    width: 72px;
    height: 8px;
    background: var(--accent-color);
}

.header__social {
    position: absolute;
    top: 359px;
    left: 80px;
    display: flex;
    align-items: center;
    gap: 24px;
    writing-mode: vertical-lr;
}

header {
    background: linear-gradient(#0000 70%, var(--bg-color)) , url("../images/bg-header.png");
    height: 1698px;
    background-size: cover;
    background-position: center top;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.guide-trails {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.guide-trails__header,
.our-services__header {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.guide__cards {
    display: flex;
    gap: 48px;
}

.guide__card {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 278px;
}

.guide__card figure {
    display: flex;
    gap: 18px;
    align-items: center;
}

.guide__card figcaption {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.guide__card_name {
    font-size: 22px;
    font-weight: 500;
}

.guide__card_job {
    font-size: 20px;
    opacity: 0.44;
}

.trails__info {
    margin-top: 56px;
}

.guide-trails__guide,
.guide-trails__trails {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.guide-trails__trails {
    width: 455px;
    font-size: 16px;
}

.trails__info {
    display: flex;
    gap: 47px;
}

.trails__title {
    font-weight: 500;
}

.trails__about {
    opacity: 0.44;
    font-weight: 300;
}

.trails__info div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.our-services {
    max-width: 641px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.our-services__header {
    align-items: center;
    font-size: 19px;
}

.service__cards {
    display: flex;
    gap: 190px;
    justify-content: center;
}

.service__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--accent-color);
    gap: 50px;
}

.service__card img {
    border: 3px dashed var(--accent-color);
    border-radius: 50%;
    padding: 10px;
}